/* The popup form - hidden by default */
.fb-indexer-form-popup {
    display: none;
    position: fixed;
    bottom: 0;
    right: 15px;
    border: 3px solid #f1f1f1;
    z-index: 9;
  }
  
  /* Add styles to the form container */
  .fb-indexer-form-container {
    max-width: 300px;
    padding: 10px;
    background-color: white;
  }
  
  /* Full-width input fields */
  .fb-indexer-form-container input[type=text], .fb-indexer-form-container input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
  }
  
  /* When the inputs get focus, do something */
  .fb-indexer-form-container input[type=text]:focus, .fb-indexer-form-container input[type=password]:focus {
    background-color: #ddd;
    outline: none;
  }
  
  /* Set a style for the submit/login button */
  .fb-indexer-form-container .fb-indexer-btn {
    background-color: #4CAF50;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom:10px;
    opacity: 0.8;
  }
  
  /* Add a red background color to the cancel button */
  .fb-indexer-form-container .fb-indexer-btn-cancel {
    background-color: red;
  }
  
  /* Add some hover effects to buttons */
  .fb-indexer-form-container .fb-indexer-btn:hover {
    opacity: 1;
  }
  