.fb_logo{
   
    
}


.approve-button{
    padding: 10px 21px;
    background: #036EE4;
    color: white;
    border: transparent;
    border-radius: 5px;
    margin-top: 6px;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
}


.single-button{
    padding: 10px 21px;
    background: #036EE4;
    color: white;
    border: transparent;
    border-radius: 5px;
    margin-top: 6px;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
}



